.snap_x {
    scroll-snap-type: proximity;
    overflow-x: auto;
}

.snap_flex {
    width: 100%;
    display: flex;
    scroll-snap-type: x proximity;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.snap_flex::-webkit-scrollbar {
    width: 0;
}