.reader {
    position: fixed;
    z-index: 99;
    top: auto;
    left: 0;
    bottom: -30px;
    width: 100%;
    height: 0;
    background-color: white;
    margin-left: 250px;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
}


.reader.is_open {
    display: flex;
    bottom: 0;
    height: 100vh;
}

#viewer_book_show{
    width: 85%;
    height: 100vh;
    position: relative;
}
#viewer_book_show > div {
    width: 100%;
}

#viewer_book_show body {
    width: 50vw;
}

.btn {
    position: absolute;
    top: 2%;
    z-index: 10;
    right: 20%;
}

.btn i {
    font-size: 2rem;
}

@media (max-width: 767.98px) { 
    .reader {
        margin-left: 0;
    }
    .reader.is_open {
        top: 0;
        width: 100%;
    }
    #viewer_book_show{ 
        width: 100%;
    }

    .btn {
        right: 0;
    }

    #viewer_book_show {
        height: calc(100vh - 80px);
    }

}

@media (max-width: 992px) {  
    .reader {
        width: 80%;
    }
    .reader.is_open {
        top: 0;
    }
    #viewer_book_show {
        height: calc(100vh - 80px);
    }

}