.container {
    width: 100%;
    height: 100vh;
	overflow: hidden;
	background: black;
}

.container > div:nth-child(1) {
    width: 100%;
    height: 100px;
    padding: 0 5rem;
	position: relative;
	z-index: 1;
}

.container > div:nth-child(1) > img{
    height: 100%;
    padding: 20px;
}

.info {
	color: white;
    width: 100%;
    padding: 0 5rem;
	position: relative;
	z-index: 1;
}

.info > div:nth-child(1) {
    width: 60%;
}

.info h1 {
    font-size: 4rem;
}

.carousel {
    display: flex;
    margin: 2.5rem 0;
}

.card {
    width: 230px;
    height: 430px;
    padding: 20px;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
}

.card h2 {
    border-bottom: 2px solid #b24126;

}

.columnas {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	overflow: hidden;
	height: 100vh;
}

.columnas img {
	display: block;
	padding: 20px;
	height: 630px;
	width: calc(100vh - 500px);
	transition: all 0.3s ease-in;
	opacity: .2;
}

.columnas img:hover {
	opacity: 1;
	box-shadow: .3rem .3rem .6rem #c8d0e7, -.2rem -.2rem .5rem #FFFFFF;
}

.columnas div:nth-child(1) {
	position: relative;
	top: -350px;
}

.columnas div:nth-child(2) {
	position: relative;
	top: 50px;
}

.me {
	color: white;
	padding: 20px;
    writing-mode: vertical-lr;
	position: relative;
	z-index: 1;
	display: flex;
	top: 0;
	right: 20px;
}

.me ul {
	display: flex;
}

.me ul li {
	margin-bottom: 1rem;
}

.me ul li a i {
	color: white;
}


.spotlight {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: radial-gradient(
		circle,
		transparent 160px,
		rgba(0, 0, 0, 0.99) 200px
	);
	top: 0;
  }

@media (max-width: 767.98px) { 
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.container > div:nth-child(1) {
		padding: 0;
	}

	.nav {
		position: absolute;
		top: 0;
	}

	.info {
		padding: 0 1rem;
	}

	.carousel {
		display: none;
	}

	.columnas {
		position: inherit;
		margin-top: 1.5rem;
		overflow-x: auto;
	}

	.columnas img {
		display: inline;
		width: 196px;
		height: 285px;
	}
	.info > div:nth-child(1) {
		width: 100%;
	}

	.columnas div:nth-child(1),
	.columnas div:nth-child(2) {
		position: inherit;
		display: flex;
	}
}	