@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

*, ::after, ::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  background-color: transparent;
}

li > .active i,
li > .active span {
  color: #207ce4;
}

li > .active::before {
  height: 20px;
  content: "";
  border-left: 4px solid #1c6fce;
  left: 0;
  position: absolute;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  height: 100%;
  padding-left: 25px;
  margin-left: 250px;
  background: #f6f8fa;
  transition: all 0.5s;
}